  
@font-face {
  font-family: Calibre;
  src: url(../fonts/calibre-medium-webfont.eot);
  src: url(../fonts/calibre-medium-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/calibre-medium-webfont.woff) format('woff'), url(../fonts/calibre-medium-webfont.ttf) format('truetype'), url(../fonts/calibre-medium-webfont.svg#Calibre) format('svg');
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Calibre;
  src: url(../fonts/calibre-regular-webfont.eot);
  src: url(../fonts/calibre-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/calibre-regular-webfont.woff) format('woff'), url(../fonts/calibre-regular-webfont.ttf) format('truetype'), url(../fonts/calibre-regular-webfont.svg#calibre_regularregular) format('svg');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Calibre;
  src: url(../fonts/calibre-semibold-webfont.eot);
  src: url(../fonts/calibre-semibold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/calibre-semibold-webfont.woff) format('woff'), url(../fonts/calibre-semibold-webfont.ttf) format('truetype'), url(../fonts/calibre-semibold-webfont.svg#calibresemibold) format('svg');
  font-weight: 800;
  font-style: normal
}


.container {
  background-color: #f2f2f2;
  text-align: center;
}

.topNav { 
  text-align: right;
  padding-bottom: 20px;
  padding-top: 20px;
  

}

.topNav a{
  text-decoration:none; 
  color: #333;
  font-family: 'Roboto-light', sans-serif;
  font-size: 20px;
  padding: 10px;
  

}

.topNav a:hover{
  text-decoration:none; 
  color: #D3D3D3;
  font-family: 'Roboto-light', sans-serif;
  font-size: 20px;
  padding: 10px;
  

}

  h1 {
    color: #333;
    font-family: 'calibre-semibold-webfont', sans-serif;
    font-size: 80px;
    padding-top: 50px;
  

  }


  h2 {
      color: #333;
    font-family: 'Roboto-light', sans-serif;
    font-size: 20px;
      padding-top: 50px;
      

  }


  .menu {
    grid-area: menu;

  }

  .title {
    grid-area: title;
  }


  .projects {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 50px 100px repeat(1fr) 50px;
    grid-template-areas:
    "menu menu menu menu"
    "title title title title"
    " pjs pjs pjs pjs "
    " pjs pjs pjs pjs"
    " pjs pjs pjs pjs"
    " pjs pjs pjs pjs"
    "ft ft ft ft ";

  }

  .projectContainer {
  grid-area: pjs;
  display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 30px;
      cursor:pointer;

  }

  .projects{
    width: 250px;
      height: 250px
      display: inline-block;
      border: 2px solid #333;
      color: #000000;
      padding: 30px;
      margin: 10px;
      justify-content: center;
  }

  .projects:hover {
   opacity: 1;
   background-color: hotpink;
   

 
  }


  .footer {
    grid-area: ft;
    color: #333;
    font-family: 'Roboto-light', sans-serif;
    font-size: 20px;
    padding: 10px;
  }


